@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
    font-family: customFont;
    src: url(./assets/DS-DIGI.TTF);
}
.simulation-container object {
    position: relative;
    width: 95%;
}

div object{
    width: 100%;
    height: 100%;
}

.col{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#stopwatch-button, #power-btn, #checker{
    cursor: pointer;
}


.terminals,
#resistor,
#capacitor{
    animation: none 4s linear infinite;
    cursor: pointer;
}

@keyframes glow-comp{
    0%{
        stroke-width: 0.4%;
    }
    50%{
        stroke-width: 1.25%;
    }
    100%{
        stroke-width: 0.4%;
    }
}

#supercapacitor-head, #disKey{
    fill: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#wire1, #wire2, #wire3, #wire4,
#wire5, #wire6, #wire7, #wire8{
    display: none;
}

#hotburner{
    display: none;
}
#burner-btn{
    cursor: pointer;
}
.replacement{
    transform: matrix(1.35, 0, 0, 1.35, -32.5, -63)
}

.hidden{
    display: none;
}

@media (min-width: 1200px){
    .container{
        max-width: 95% !important;
        margin-top: 1%;
    }
}

.fcol{
    width: 39%;
}

.scol{
    width: 61%;
    padding: 0% 2% 0% 2%;
}

form{
    height: 50%;
}

.table{
    display: flex;
    /* height: 70%; */
    justify-content: center;
    margin-bottom: 0px !important;
    /* vertical-align: middle; */
}

table{
    width: 60%;
    text-align: center;
    margin: 0 0.5%;
}

th{
    background-color: #212529;
    color: #FFF;
    /* height: 20px; */
}

.tablehead, .obs{
    /* background-color: #007bff; */
    color: #fff;
}

.tablehead h4, .tablehead h5{
    margin-bottom: 0px;
}

.srno,.tempc,.tempk,.current,.tempinv,.tempsqr,.log{
    text-align: center;
    border: 0px;
    padding: 0 !important;
    margin: 0 !important;
}
.srno{
    width: 40%;
}

.tempc,.tempk,.current,.tempinv,.tempsqr,.log{
    width: 80%;
}


.obs{
    background-color: #007bff;
    text-align: center;
    padding: 1%;
    margin: 0 0.5%;
}

th, tr, td, .obs{
    border: 2px solid #dee2e6 ;
}

.table table td, .table table th{
    padding: 0;
    vertical-align: middle;
}

tr{
    /* height: 2.5%; */
    height: 5%;
    font-size: 1vw;
}


.graph{
    padding: 1% 0%;
    height: 100%;
}

.graph canvas{
    width: 84% !important;
    height: 100% !important;
    margin-left: 10%;
    margin-top: 2%;
}

.simulation-container .btn-sbt{
    margin-left: 40%;
    margin-top: 2%;
    display: none;
}

.pulse {
    fill: white;
    fill-opacity: 0;
    /* transform-origin: -1297px 190px; */
    animation-duration: 3s;
    animation-name: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    /* stroke: yellow; */
}

.slope{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.slope-div{
    display: none;
}

.svalue{
    position: relative;
    top: -200px;
    padding-top: 5px;
    display: none;
}

.slopev{
    color: red;
}
.table{
    display: flex;
    flex-direction: column;
}
#table1{
    width: 99%;
}
/* .ebg{
    position: relative;
    left: 20px;
    top: -250px;
}*/
.ebgres{
    display: none;
} 
.slopeinp{
    all: unset;
    width: 7rem;
    border-radius: 5px;
    border: 2px solid #007bff;
}

.formula-img{
    width: 25%;
} 

.slopeinp{
    text-align: center;
}
@keyframes pulse {
    0% {
        stroke-width: 20px;
        stroke-opacity: 1;
        transform: scale(0.3);
    }
    100% {
        stroke-width: 0;
        stroke-opacity: 0.5;
        transform: scale(2);
    }
}

.one{
    transform-origin: -1297px 190px;
}

.two{
    transform-origin: -1385px 190px;
}

.three{
    transform-origin: -1095px -105px;
}

.four{
    transform-origin: -1009px -105px;
}

.five{
    transform-origin:-1090px 245px;
}

.six{
    transform-origin:148px 133px;
    cursor: pointer;
}

/* .six{
    transform-origin:-800px 125px;
} */

.resistor{
    transform-origin: -913px 125px;
}

.capacitor{
    transform-origin: 540px -270px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color:#007bff;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 2%;
    z-index: 1;
    font-size: 1.2vw;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 2.5s 4.5s;
    animation: fadein 0.5s, fadeout 2.5s 4.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #key1, #key2{
      display: none;
  }

  .key-up-down{
      animation: up-down 3s linear infinite;
      stroke: yellow !important;
      stroke-width: 2px !important;
  }

  @keyframes up-down {
      0%{
          transform: translate(0,0);
      }
      50%{
          transform: translate(0px, -3px);
      }
      100%{
          transform: translate(0px, 0px);
      }
      
  }

  
/* 
.diodeselect{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
} */
.diodeselect{
    display: flex;
    justify-content: space-around;
}

/* 
@media only screen and (max-width:767px) {
    .row {
        display: flex;
        flex-flow: column-reverse;
    }

    .table table td,
    .table table th {
        padding: 0;
        vertical-align: middle;
        height: 5%;
        font-size: 2vw;
    }

    tr {
        height: 5%;
        font-size: 2vw;
    }

    .spc {
        margin-top: 5px;
    }

    .bt{
        margin-bottom: 10px;
        margin-top: 8px;
    }

    .bg{
        background-color: rgb(144, 180, 247);
        text-decoration: #000000;
    }
    .fb{
        font-size: 6.7px;
    }
    .btn-sbt{
        margin-left: 35%;
        
    }
} */

/* 
@media only screen and (min-width : 1200px) and (max-width: 1999px){
    .formula h5{
        font-size: 1.5rem;
    }
    .formula h6{
        font-size: 1.2rem;
    }
    .slopeinp{
       width: 30%;
    }
    .btn{
        display: none;
    }
}
@media(  width>2000px){
    .formula h5{
        font-size: 3rem;
    }
    .formula h6{
        font-size: 2rem;
    }
    .slopeinp{
       width: 30%;
    }
    .btn{
        width: 15%;
    }
} */

